.protection__top {
	display: grid;
	width: 1320px;
	grid-template-columns: 250px 1fr;
	grid-column-gap: 20px;
	/*align-items: center;*/
	padding: 0 24px;
	margin: 5px auto;
	box-sizing: border-box;
	background-color: #f8f9fa;
}
.heading {
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  }
  .list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}
.list-group-item-action:hover, .list-group-item-action:focus {
  z-index: 1;
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}
.list-group-item-action:active {
  color: #212529;
  background-color: #e9ecef;
}
.bd-main{grid-area:main}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}
table {
   border-collapse: collapse;
   border: solid medium #212529;
   margin:0 auto;
   width: 750px;
   text-align:center;
}
caption {font-weight: 600;font-size: 15px;text-align: start;}
.bd-sidebar{
  grid-area:sidebar
}
.text__first {text-align: start;}
.protection__list {
  height:625px;
  overflow:auto;
  position: relative;
  color: #212529;
  border: 1px solid #fff;
  padding: 5px 25px;
}
.math {
   letter-spacing: 1.5px;
   font-weight: 800;
   line-height: 0.1;
   text-align: center
}

@media (max-width: 1399px) {
	.protection__top {width: 100%;margin: 0}
}
@media (min-width: 992px){
    .protection__wrap{
        display:grid;
        grid-template-areas:"sidebar main";
        grid-template-columns:1fr 3fr;
        gap:1.5rem;
        box-sizing: border-box;
    }
}
@media (max-width: 991.98px){.bd-main{max-width:760px;margin-inline:auto}}
@media (min-width: 768px){
  .bd-main{
    display:grid;
    grid-template-areas:"intro" "toc" "content";
    grid-template-rows:auto auto 1fr;
    gap:inherit
  }
}
@media (min-width: 992px){.bd-main{grid-template-areas:"intro   toc" "content toc";grid-template-rows:auto 1fr;grid-template-columns:3fr 1fr}}

td {border: solid thin; border-left: solid medium; height: 2em;}
th {border-collapse: collapse; border: solid medium;  height: 3em}
